@*@model IEnumerable<Job_Demo.Models.HotSpotModel>*@
@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("會員中心", "Index", "MyAccount")
</div>

<h2>新北市熱點</h2>


<table class="table">
    <tr>
        <th>
            熱點代碼
        </th>
        <th>
            熱點名稱
        </th>
        <th>
            熱點類別
        </th>
        <th>
            業者
        </th>
        <th>
            鄉鎮市區
        </th>
        <th>
            地址
        </th>
        <th>
            機關構名稱
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.spot_name
            </td>
            <td>
                @item.type
            </td>
            <td>
                @item.company
            </td>
            <td>
                @item.district
            </td>
            <td>
                @item.address
            </td>
            <td>
                @item.apparatus_name
            </td>
        </tr>
    }

</table>

